<article id="question">
  <div class="question_display">
    <div class='count_box'>
      <div class="number"><%= question.votes.count %> </div>
      <div class="caption">votes</div>
    </div>

    <div class='count_box right'>
      <div class="number"><%= question.answers.count %> </div>
      <div class="caption">answers</div>
    </div>

    <div class='question_title'>
      <div class="title"><a href=" <%= "/questions/#{question.id}" %>"><%= question.title %>:</a></p>
    </div>

      <div class="question_last_update">
        <div><%= question.last_answer_received %>: </div>
        <div>Last Updated:</div>
      </div>

      <div class="question_last_update_user">
        <div><%= question.last_answer_giver %>: </div>
        <div>Last Update by:</div>
      </div>
    </div>


</article>
