<article id="question">
  <div class="question_display">
    <div class='count_box'>
      <div class="number"><%= question.votes.count %> </div>
      <div class="caption">votes</div>
    </div>

    <div class='count_box right'>
      <div class="number"><%= question.answers.count %> </div>
      <div class="caption">answers</div>
    </div>

    <div class='question_title'>
      <div class="title"><a href=" <%= "/questions/#{question.id}" %>"><%= question.title %>:</a></p>
    </div>

      <div class="question_last_update">
        <h5>Last updated by <%= question.last_answer_giver %> on <%= question.last_answer_received %></h5>
      </div>


</article>
