  <article class="question">
        <div class='question_topic_border'>
          <div id='votes_count'>
            <div><%= question.votes.count %>: </div>
            <div>Votes</div>
          </div>
        </div>
        <div class='question_topic_border'>
          <div id='answer_count'><%= question.answers.count %>: </div>
          <div>Questions</div>
        </div>
        <div class='question_topic_border'>
          <div id="question_title"><%= question.title %>: </div>
          <div>Question</div>
        </div>
        <div class='question_topic_border'>
          <div id="question_last_update">
            <div><%= "CREATER A METHOD FOR THIS" %>: </div>
            <div>Last Updated:</div>
          </div>
        </div>
        <div class='question_topic_border'>
          <div id="question_last_update_user">
            <div><%= "CREATER A METHOD FOR THIS" %>: </div>
            <div>Last Update by:</div>
          </div>
        </div>
    </article>
