<div class="container q">
  <div class="question_box">
    <h1><%= @question.title %></h1>
    <h6>Asked by <%= @question.asker.username %> at <%=@question.created_at %></h6>

      <div class="single_question">
        <p><%= @question.body %></p>
      </div>
      <div class="question_vote_buttons">
        <% if logged_in? %>
          <form method="post" action='/questions/<%= @question.id %>/vote'>
            <input type="hidden" name="vote" value="upvote">
            <button type="submit" class="vote-up" ></button>
          </form>
          <p><%= @question.total_votes %></p>
          <form method="post" action='/questions/<%= @question.id %>/vote'>
            <input type="hidden" name="vote" value="downvote">
            <button type="submit" class="vote-down"></button>
          </form>
        <% end %>
      </div>
    </div>



    <div class="comment_display question_comment">
      <% @question.comments.each do |comment| %>
        <%= erb :'comments/_show', locals: { commentable: @question, comment: comment} %>
      <% end %>
    </div>


    <form class="newCommentButton questionButton" method="get" action="/questions/<%=@question.id%>/comments/new">
    <button type="submit">Add comment</button>

    </form>
    <div class="commentForm">
    </div>
    <% if logged_in? && !@to_edit && @new_comment %>
      <div class="commentFormHTML">
        <%= erb :'comments/_new', locals: { commentable: @question } %>
      </div>

    <% end %>

    <% if owns_question?(@question) %>
      <form method="post", action=" <%= "/questions/#{@question.id}" %>" >
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete question">
      </form>
      <a href="<%="/questions/#{@question.id}/edit" %>">Update question</a>
    <% end %>

</div>



<%= erb :'_errors', local: {errors: @errors} %>


<div class="container a">
  <div class="answerDisplay">
  	<h3>	<%= @question.answers.count %> Answer(s) </h3>
    <% if logged_in? && !@to_edit  %>
    <textarea rows="12" cols="80" name="answer[body]" form="newAnswer"></textarea>
    <form id="newAnswer" action="/questions/<%=@question.id%>/answers" method="post">
    	<input type="hidden" name="answer[answerer_id]" value="<%=current_user.id%>">
    	<input type="submit" value="Submit an answer" >
    </form>
    <% end %>

  	<% @question.answers.each do |answer| %>
    <div class="answer_box">
  		<%= erb :'answers/_show', locals: {answer: answer} %>
    </div>
  	<% end %>



  </div>
</div>
