

<div class="container">
    <h1><%= @question.title %></h1>
    <p><%= @question.body %></p>
    <% if current_user == @question.asker %>
			<form method="post", action=" <%= "/questions/#{@question.id}" %>" >
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete question">
      </form>
	    <a href="<%="/questions/#{@question.id}/edit" %>">Update question</a>
	  <% end %>



</div>

<%= erb :'questions/_errors', local: {errors: @errors} %>


<div class="answerDisplay">
	<h2>	<%= @question.answers.count %> Answer(s) </h2>
	
	<% @question.answers.each do |answer| %>
		<%= erb :'answers/_show', locals: {answer: answer} %>
	<% end %>
	
</div>

<% if logged_in? %>
<textarea rows="12" cols="80" name="answer[body]" form="newAnswer"></textarea>
<form id="newAnswer" action="/questions/<%=@question.id%>/answers" method="post">
	<input type="hidden" name="answer[answerer_id]" value="<%=current_user.id%>">
	<input type="submit" >
</form>
<% end %>

