<div class="container">
    <h1><%= @question.title %></h1>
    <h6>Asked by <%= @question.asker.username %> at <%=@question.created_at %></h6>
    <p><%= @question.body %></p>
    <% if logged_in? %>
      <form method="post" action='/questions/<%= @question.id %>/vote'>
        <input type="hidden" name="vote" value="upvote">
        <button type="submit" class="vote-up"></button>
      </form>
      <%= @question.total_votes %>
      <form method="post" action='/questions/<%= @question.id %>/vote'>
        <input type="hidden" name="vote" value="downvote">
        <button type="submit" class="vote-down"></button>
      </form>
    <% end %>

    <div class="commentDisplay">
      <% @question.comments.each do |comment| %>
        <%= erb :'comments/_show', locals: { commentable: @question, comment: comment} %>

        <% end %>
    </div>
    <% if logged_in? &&!@to_edit %>
    
      <%= erb :'comments/_new', locals: { commentable: @question } %>
    <% end %>
    <% if owns_question?(@question) %>
			<form method="post", action=" <%= "/questions/#{@question.id}" %>" >
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete question">
      </form>
	    <a href="<%="/questions/#{@question.id}/edit" %>">Update question</a>
	  <% end %>




</div>

<%= erb :'_errors', local: {errors: @errors} %>


<div class="answerDisplay">
	<h2>	<%= @question.answers.count %> Answer(s) </h2>

	<% @question.answers.each do |answer| %>
		<%= erb :'answers/_show', locals: {answer: answer} %>
	<% end %>
</div>

<% if logged_in? && !@to_edit  %>
<textarea rows="12" cols="80" name="answer[body]" form="newAnswer"></textarea>
<form id="newAnswer" action="/questions/<%=@question.id%>/answers" method="post">
	<input type="hidden" name="answer[answerer_id]" value="<%=current_user.id%>">
	<input type="submit" >
</form>
<% end %>
