<article class="article_list" id="<%= comment.id %>">
  <div class="comment_box">
      <div class="comment_vote_buttons">
          <% if logged_in? %>
            <div><form id="comment_up_vote" method="post" action='/comments/<%= comment.id %>/vote'>
              <input type="hidden" name="vote" value="upvote">
              <button type="submit" class="vote-up up-sm"></button>
            </form></div>
            <div class="total_votes"><p><%= comment.total_votes %></p></div>
            <div><form id="comment_down_vote" method="post" action='/comments/<%= comment.id %>/vote'>
              <input type="hidden" name="vote" value="downvote">
              <button type="submit" class="vote-down down-sm"></button>
            </form></div>
          <% end %>
      </div>

      <div class="single_comment"><p><%= comment.body %> &mdash; <%= comment.commenter.username %> at <%= comment.created_at %></p></div>
</div>

    <% if owns_comment?(comment) %>
      <form class="deleteComment" method="post", action= "/<%=pathify(commentable)%>/<%=commentable.id%>/comments/<%=comment.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete comment">
      </form>

      <form id="editCommentButton"  method="get" action= "/<%=pathify(commentable)%>/<%=commentable.id%>/comments/<%=comment.id%>/edit">
            <input type="submit" value="Edit comment" >
          </form>

    <% if @to_edit == comment.id %>
      <%= erb :'comments/_edit', locals: {commentable: commentable, comment: comment} %>
    <% end %>

    <% end %>
</article>
