<article class="article_list" id="<%= comment.id %>">
    <span class='username'><%= comment.commenter.username %>: </span>
          <% if logged_in? %>
            <form id="comment_up_vote" method="post" action='/comments/<%= comment.id %>/vote'>
              <input type="hidden" name="vote" value="upvote">
              <button type="submit" class="vote-up"></button>
            </form>
    <span id="comment_total"><%= comment.total_votes %></span>
            <form id="comment_down_vote" method="post" action='/comments/<%= comment.id %>/vote'>
              <input type="hidden" name="vote" value="downvote">
              <button type="submit" class="vote-down"></button>
            </form>
          <% end %>
    <p><%= comment.body %></p>
    <% if owns_comment?(comment) %>
      <form class="deleteComment" method="post", action= "/<%=pathify(commentable)%>/<%=commentable.id%>/comments/<%=comment.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete comment">
      </form>

      <form id="editCommentButton"  method="get" action= "/<%=pathify(commentable)%>/<%=commentable.id%>/comments/<%=comment.id%>/edit">
            <input type="submit" value="Edit comment" >
          </form>

    <% if @to_edit == comment.id %>
      <%= erb :'comments/_edit', locals: {commentable: commentable, comment: comment} %>
    <% end %>

    <% end %>
</article>

