<article id="<%= answer.id %>">
	<div class="single_answer">
	<% if @to_edit == answer.id %>
		<%= erb :'/answers/_edit_answer' %>
	<% else %>
			<p><%= answer.body %></p>
			<h6>Answered by <%= answer.answerer.username %> </h6>
	</div>
	<div class="answer_vote_buttons">
		<% if logged_in? %>
 	  	<form method="post" action='/questions/<%= @question.id %>/answers/<%= answer.id %>/vote'>
 	      <input type="hidden" name="vote" value="upvote">
 	  		<button type="submit" class="vote-up"></button>
 			</form>
 	    <%= answer.total_votes %>
 			<form method="post" action='/questions/<%= @question.id %>/answers/<%= answer.id %>/vote'>
 	      <input type="hidden" name="vote" value="downvote">
 	  		<button type="submit" class="vote-down"></button>
 			</form>
		</div>
 	  <% end %>
				<% if owns_question?(@question) && !@question.has_best_answer? %>
				<form id="best_answer" method="post", action="<%="/questions/#{@question.id}/answers/#{answer.id}"%>">
					<input type="hidden" name="_method" value="put">
					<input type="submit" value="Mark as Best Answer">
				</form>
				</br>
				<% end %>

				<% if owns_answer?(answer) %>
				<form id="deleteAnswer" method="post", action= "<%="/questions/#{@question.id}/answers/#{answer.id}" %>">
		      <input type="hidden" name="_method" value="delete">
		      <input type="submit" value="Delete Answer">
				  </form>
				</br>
					<form id="EditAnswer"  method="post" action= "<%="/questions/#{@question.id}/answers/#{answer.id}/edit" %>">
						<input type="hidden" name="_method" value="get">
						<input type="submit" value="Edit Answer" >
					</form>
				<% end %>
		<div class="commentDisplay">
      <% answer.comments.each do |comment| %>
        <%= erb :'comments/_show', locals: { commentable: answer, comment: comment} %>
        <% end %>
    </div>
    <form class="newComment" method="get" action="/answers/<%=answer.id%>/comments/new">
    <button type="submit" class="newCommentButton">Add comment</button>
    </form>
    <div class="commentForm">
    </div>
    <% if logged_in? && !@to_edit && @new_comment %>
      <%= erb :'comments/_new', locals: { commentable: answer } %>
    <% end %>
		<% end %>
</article>
